#ext_menu-0 .navbar-toggler {
  color: #000;
}
#ext_menu-1 .navbar-toggler {
  color: #000;
}
#msg-box4-a .lead DIV {
  text-align: left;
}
#msg-box5-c .mbr-section-title {
  text-align: left;
  font-size: 30px;
}
#ext_menu-5 .navbar-toggler {
  color: #000;
}
#msg-box4-7 .lead DIV {
  text-align: left;
}
#ext_menu-j .navbar-toggler {
  color: #000;
}
#msg-box4-n .lead {
  text-align: left;
}
#msg-box5-o .mbr-section-title {
  font-size: 32px;
}
#ext_menu-p .navbar-toggler {
  color: #000;
}
#msg-box4-t .lead DIV {
  text-align: left;
}
#ext_menu-u .navbar-toggler {
  color: #000;
}
#msg-box4-v .lead DIV {
  text-align: left;
}
#msg-box5-z .mbr-section-title {
  font-size: 32px;
}
#ext_menu-12 .navbar-toggler {
  color: #000;
}
#msg-box4-13 .lead DIV {
  text-align: left;
}
#msg-box5-14 .mbr-section-title {
  font-size: 30px;
}
#msg-box5-15 .mbr-section-title {
  font-size: 32px;
}
#msg-box5-17 .mbr-section-title {
  font-size: 30px;
}
#msg-box5-18 .mbr-section-title {
  font-size: 30px;
}
#ext_menu-1b .navbar-toggler {
  color: #000;
}
#msg-box4-1c .lead {
  text-align: left;
}
#msg-box5-1d .mbr-section-title {
  font-size: 30px;
}
#ext_menu-1e .navbar-toggler {
  color: #000;
}
#msg-box4-1f .lead {
  text-align: left;
}
#msg-box5-1g .mbr-section-title {
  font-size: 30px;
}
#ext_menu-1h .navbar-toggler {
  color: #000;
}
#msg-box4-1i .lead {
  text-align: left;
}
#msg-box5-1j .mbr-section-title {
  font-size: 25px;
}
#ext_menu-1k .navbar-toggler {
  color: #000;
}
#msg-box4-1l .lead {
  text-align: left;
}
#msg-box5-1m .mbr-section-title {
  font-size: 25px;
}
#ext_menu-1n .navbar-toggler {
  color: #000;
}
#msg-box4-1o .lead {
  text-align: left;
}
#msg-box5-1p .mbr-section-title {
  font-size: 25px;
}
#ext_menu-1q .navbar-toggler {
  color: #000;
}
#msg-box4-1r .lead {
  text-align: left;
}
#msg-box5-1s .mbr-section-title {
  font-size: 25px;
}
#ext_menu-1v .navbar-toggler {
  color: #000;
}
#ext_menu-1x .navbar-toggler {
  color: #000;
}
#ext_menu-21 .navbar-toggler {
  color: #000;
}
#msg-box4-22 .lead {
  text-align: left;
}
#msg-box5-23 .mbr-section-title {
  font-size: 25px;
}
#ext_menu-27 .navbar-toggler {
  color: #000;
}
#msg-box4-28 .lead {
  text-align: left;
}
#msg-box5-29 .mbr-section-title {
  font-size: 30px;
}
#ext_menu-2b .navbar-toggler {
  color: #000;
}
#msg-box4-2c .lead {
  text-align: left;
}
#msg-box5-2d .mbr-section-title {
  font-size: 30px;
}
#ext_menu-2g .navbar-toggler {
  color: #000;
}
#msg-box4-2h .lead {
  text-align: left;
}
#ext_menu-2o .navbar-toggler {
  color: #000;
}
#msg-box4-2p .lead {
  text-align: left;
}
